@import url('http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Meddon');
@import url('https://raw.github.com/necolas/normalize.css/master/normalize.css');

body {
    background-image:url('Background.jpg');
    font-family : 'IM Fell DW Pica', serif;
    width: 960px;
    margin-left:auto;
    margin-right: auto;
}

br {display:none;}


.passus {
    margin-bottom : 30px;
    width : 960px;
    /*font-family: 'UnifrakturCook', cursive;*/
}

h1 { text-align:center;
}

.punctus {
    display: inline-block;
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -o-transform: matrix(1, 0, 0, -1, 0, 0);
    -ms-transform(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.lg {
    display : block;
    /* border: 1px solid blue;*/
    margin-bottom : 30px;
    clear : both;
    font-size : 1.5em;
}
.line {
}

.line-data {
    width: 720px;
    /* margin-left: 200px; */
    float: right;
}

.icon {
    float:left;
    width: auto;
    height: 20px;
    padding-right:10px;
    margin:0;
}

.marginalia {
    margin-left : 20px;
    font-family : 'IM Fell DW Pica', serif;
    font-size : 24px;
    width : 200px;
    padding : 3px;
    font-size: 24px;
    max-width: 200px;
    float: left;
}

.note {
    font-style : italic;
    font-size : 16px;
    line-height : 1.25;
    display : block;
    margin-top : 10px;
}


/* From HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
