@import url('http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Meddon');
@import url('https://raw.github.com/necolas/normalize.css/master/normalize.css');

body {
    background-image:url('Background.jpg');
    font-family : 'IM Fell DW Pica', serif;
    width: 960px;
    margin-left:auto;
    margin-right: auto;
}

br {display:none;}


.passus {
    margin-bottom : 30px;
    width : 960px;
    /*font-family: 'UnifrakturCook', cursive;*/
}

h1 { text-align:center;
}

.punctus {
    display: inline-block;
    -moz-transform: matrix(1, 0, 0, -1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
    -o-transform: matrix(1, 0, 0, -1, 0, 0);
    -ms-transform(1, 0, 0, -1, 0, 0);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.lg {
    display : block;
    /* border: 1px solid blue;*/
    margin-bottom : 30px;
    clear : both;
    font-size : 1.5em;
}
.line {
}

.line-data {
    width: 720px;
    /* margin-left: 200px; */
    float: right;
}

.icon {
    float:left;
    width: auto;
    height: 20px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom: 5px;
    margin:0;
    cursor: pointer;
    background-color: white;
    border-style: groove;
    border-color: brown;
}

.marginalia {
    margin-left : 20px;
    font-family : 'IM Fell DW Pica', serif;
    font-size : 24px;
    width : 200px;
    padding : 3px;
    font-size: 24px;
    max-width: 200px;
    float: left;
    background-color: white;
}

.note {
    font-style : italic;
    font-size : 16px;
    line-height : 1.25;
    display : block;
    margin-top : 10px;
}

.rb {
    color : red;
}

.ur {
    text-decoration : underline ;
}

.BinR {
    border : 5px solid red;
    padding : 5px;
}

.tr {
    text-shadow : 0.1em red;
}

.del {
    text-decoration : line-through;
}

.add {
    color : gray;
}

.expan {
    font-style : italic;
}

/* From HTML 5 Boilerplate. */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Style the tooltop when hovering on marginalia icons. */
#tooltip {
	position: absolute; /* Keep this to ensure the note stays with the icon. */
	z-index: 3000; /* Keep this to ensure the tooltip stays above other content. */
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	width:300px;
}
